{% extends "template.htm" %}
{% block title %} Restore Character {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		Restore Character
	</div>
	<div class="panel-body">
		<form method="post" action="/account/restore/{{ id }}">
			Are you sure you want to restore the character <strong>{{ name }}</strong>?
			<br><br>
			<button type="submit" class="btn btn-default">Restore</button>
			<a href="/account/manage"><button type="button" class="btn btn-default">Return</button></a>
		</form>
	</div>
</div>

{% endblock %}
