{% extends "template.htm" %}
{% block title %} Login {% endblock %}
{% block body %}

{% if error %}
<div class="alert alert-danger">
	<strong>Error</strong>
	<br>
	The specified account name or password is incorrect.
</div>
{% endif %}

{% if created %}
<div class="alert alert-success">
	<strong>Success</strong>
	<br>
	Your account has been created, you can login now.
</div>
{% endif %}

<div class="panel panel-default">
	<div class="panel-heading">
		Login
	</div>
	<div class="panel-body">
		<form method="post" action="/account/login">
			<div class="form-group">
				<label for="inputName">Account Name</label>
				<input type="password" class="form-control" id="inputName" name="name" placeholder="Account Name">
			</div>
			<div class="form-group">
				<label for="inputPswd">Password</label>
				<input type="password" class="form-control" id="inputPswd" name="pswd" placeholder="Password">
			</div>
			{% if next %}
			<input type="hidden" name="next" value="{{ next }}">
			{% endif %}
			<button type="submit" class="btn btn-default">Login</button>
		</form>
	</div>
</div>

{% endblock %}
