{% extends "template.htm" %}
{% block title %} Change Password {% endblock %}
{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info">
	<strong>The following errors have occured:</strong>
	<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
{% endwith %}

<div class="panel panel-default">
	<div class="panel-heading">
		Change Password
	</div>
	<div class="panel-body">
		<form method="post" action="/account/password">
			<div class="form-group">
				<label for="inputPswd">Current Password</label>
				<input type="password" class="form-control" id="inputPswd" name="pswd" placeholder="Current Password" required>
			</div>
			<div class="form-group">
				<label for="inputPswdNew">New Password</label>
				<input type="password" class="form-control" id="inputPswd" name="pswdNew" placeholder="New Password" required>
			</div>
			<div class="form-group">
				<label for="inputPswdRepeat">Repeat New Password</label>
				<input type="password" class="form-control" id="inputPswdRepeat" name="pswdRepeat" placeholder="Repeat New Password" required>
			</div>
			<button type="submit" class="btn btn-default btn-sm">Change Password</button>
			<a href="/account/manage"><button type="button" class="btn btn-default btn-sm">Return</button></a>
		</form>
	</div>
</div>

{% endblock %}
