{% extends "template.htm" %}
{% block title %} Recent News {% endblock %}
{% block body %}

{% for entry in news %}
<div class="panel panel-default">
	<div class="panel-heading">
		<a href="/news/{{ entry.id }}">{{ entry.header }}</a>
	</div>
	<div class="panel-body">
		{% autoescape off %}
		{{ entry.content }}
		<hr>
		<div class="row">
			<div class="col-xs-6 left">
				Posted by <a href="/community/player/{{ entry.author }}">{{ entry.author }}</a> on {{ entry.timestamp | datetime }}.
			</div>
			<div class="col-xs-6 right">
				<a href="/forum/thread/{{ entry.thread_id }}">{{ entry.comments }} comments</a>
			</div>
		</div>
		{% endautoescape %}
	</div>
</div>
{% endfor %}

{% endblock %}
