{% extends "template.htm" %}
{% block title %} Browse Offer {% endblock %}
{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info">
	<strong>Information:</strong>
	<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
{% endwith %}

<div class="panel panel-default">
	<div class="panel-heading">Browse Offer</div>
	<div class="panel-body">
		<ul id="Categories" class="nav nav-tabs">
		{% for category in categories %}
			<li{% if loop.index0 == 0 %} class="active"{% endif %}><a href="#{{ category.name }}">{{ category.name }}</a></li>
		{% endfor %}
		</ul>

		<div class="tab-content">
		{% for category in categories %}
			<div class="tab-pane{% if loop.index0 == 0 %} active{% endif %}" id="{{ category.name }}">
				<table class="table table-hover table-striped">
					<thead><tr>	
						<th>&nbsp</th>
						<th>Item</th>
						<th>Price</th>
						<th>&nbsp;</th>
					</tr></thead>
					<tbody>
					{% for item in category.items %}
					{% if item.enabled %}
					<tr>
						<td>
						{% if item.type == 1 or item.type == 2 %}
							<img src="/static/img/items/{{ item.key }}.png">
						{% else %}
							<img src="{{ item.custom_image }}">
						{% endif %}
						</td>
						<td>
							<strong>{{ item.name }}</strong>
							<br>
							{{ item.description }}
						</td>
						<td>{{ item.price }}</td>
						<td><a href="/shop/order/{{ item.id }}"><button class="btn btn-default">Buy</button></a></td>
					</tr>
					{% endif %}
					{% endfor %}
					</tbody>
				</table>
			</div>
		{% endfor %}
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#Categories a').click(function(e) {
		e.preventDefault();
		$(this).tab('show');
	});
</script>

{% endblock %}
