{% extends "template.htm" %}
{% block title %} Forum - {{ board.name }} {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		Forum - {{ board.name }}
	</div>
	<div class="panel-body">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Thread</th>
					<th>Created</th>
					<th>Last Post</th>
					<th>Replies</th>
				</tr>
			</thead>
			<tbody>
			{% for thread in threads %}
				<tr>
					<td>
						{% if thread.pinned %}
							<span class="glyphicon glyphicon-pushpin" title="Pinned"></span>
						{% endif %}
						{% if thread.locked %}
							<span class="glyphicon glyphicon-lock" title="Locked"></span>
						{% endif %}
						<a href="/forum/thread/{{ thread.id }}">{{ thread.subject }}</a>
					</td>
					<td>{{ thread.timestamp | datetime }}</td>
					<td>{{ thread.lastpost | datetime }}</td>
					<td>{{ thread.posts }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
