{% extends "template.htm" %}
{% block title %} Forum {% endblock %}
{% block body %}

{% if categories %}
{% for category in categories %}
<div class="panel panel-default">
	<div class="panel-heading">
		{{ category.name }}
	</div>
	<div class="panel-body">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Board</th>
					<th>Threads</th>
				</tr>
			</thead>
			<tbody>
			{% for board in category.boards %}
				<tr>
					<td>
						<a href="/forum/{{ board.id }}/1">{{ board.name }}</a>
						<br>
						{{ board.description }}
					</td>
					<td>
						{{ board.threads }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endfor %}
{% else %}
<div class="panel panel-default">
	<div class="panel-heading">
		Forum
	</div>
	<div class="panel-body">
		Currently there are no boards configured.
	</div>
</div>
{% endif %}

{% endblock %}
