{% extends "template.htm" %}
{% block title %} Forum - {{ thread.subject }} {% endblock %}
{% block body %}

{% if thread.deleted %}
<div class="alert alert-danger">
	<strong>Information</strong>
	<br>
	This thread has been deleted and is visible for staff only.
</div>
{% endif %}

{% if thread.locked %}
<div class="alert alert-danger">
	<strong>Information</strong>
	<br>
	This thread is locked from further replies.
</div>
{% endif %}

<div class="panel panel-default">
	<div class="panel-heading">
		Forum - Thread #{{ thread.id }} - {{ thread.subject }}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 middle">
				{% if thread.player %}
					<a href="/community/player/{{ thread.player.name }}">{{ thread.player.name }}</a>
					<br>
					<img class="outfit2" src="/outfit/{{ thread.player.looktype }}/{{ thread.player.lookhead }}/{{ thread.player.lookbody }}/{{ thread.player.looklegs }}/{{ thread.player.lookfeet }}/{{ thread.player.lookaddons }}">
					<br>
					{% if thread.player.group_id > 1 %}
					{{ thread.player.group_id | staffrank }}
					{% else %}
					Level {{ thread.player.level }}
					<br>
					{{ thread.player.vocation | vocation }}
					{% endif %}
					<br>
					Resident of {{ thread.player.town_id | town }}
					<br>
					Posts: {{ thread.player.postcount }}
				{% else %}
					Author Deleted
				{% endif %}
			</div>
			<div class="col-md-10 left">
			{% if thread.noescape %}
				{% autoescape off %}
				{{ thread.content }}
				{% endautoescape %}
			{% else %}
				{{ thread.content }}
			{% endif %}
			</div>
		</div>
		{% if session.access == g.admin_account_type %}
		<br>
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-remove"></span> Hard Delete</button>

				{% if thread.deleted %}
				<a href="/forum/thread/soft/{{ thread.id }}"><button class="btn btn-sm btn-default active"><span class="glyphicon glyphicon-minus"></span> Restore Thread</button></a>
				{% else %}
				<a href="/forum/thread/soft/{{ thread.id }}"><button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-minus"></span> Soft Delete</button></a>
				{% endif %}

				{% if thread.locked %}
				<a href="/forum/thread/lock/{{ thread.id }}"><button class="btn btn-sm btn-default active"><span class="glyphicon glyphicon-lock"></span> Unlock</button></a>
				{% else %}
				<a href="/forum/thread/lock/{{ thread.id }}"><button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-lock"></span> Lock</button></a>
				{% endif %}

				{% if thread.pinned %}
				<a href="/forum/thread/pin/{{ thread.id }}"><button class="btn btn-sm btn-default active"><span class="glyphicon glyphicon-pushpin"></span> Unpin</button></a>
				{% else %}
				<a href="/forum/thread/pin/{{ thread.id }}"><button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-pushpin"></span> Pin</button></a>
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div>
</div>

{% for post in posts %}
{% if not post.deleted or (post.deleted and session.access == g.admin_account_type) %}
<div class="panel panel-default{% if post.deleted %} panel-danger{% endif %}">
	<div class="panel-heading" id="post-{{ post.id }}">
		<a href="#post-{{ post.id }}">Reply #{{ post.id }}</a>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 middle">
				{% if post.player %}
					<a href="/community/player/{{ post.player.name }}">{{ post.player.name }}</a>
					<br>
					<img class="outfit2" src="/outfit/{{ post.player.looktype }}/{{ post.player.lookhead }}/{{ post.player.lookbody }}/{{ post.player.looklegs }}/{{ post.player.lookfeet }}/{{ post.player.lookaddons }}">
					<br>
					{% if post.player.group_id > 1 %}
					{{ post.player.group_id | staffrank }}
					{% else %}
					Level {{ post.player.level }}
					<br>
					{{ post.player.vocation | vocation }}
					{% endif %}
					<br>
					Resident of {{ post.player.town_id | town }}
					<br>
					Posts: {{ post.player.postcount }}
				{% else %}
					Author Deleted
				{% endif %}
			</div>
			<div class="col-md-10 left">
				{{ post.content }}
			</div>
		</div>
		{% if session.access == g.admin_account_type %}
		<br>
		<div class="row">
			<div class="col-md-12">
				<a href="/forum/post/hard/{{ post.id }}"><button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-remove"></span> Hard Delete</button></a>

				{% if post.deleted %}
				<a href="/forum/post/soft/{{ post.id }}"><button class="btn btn-sm btn-default active"><span class="glyphicon glyphicon-minus"></span> Restore Post</button></a>
				{% else %}
				<a href="/forum/post/soft/{{ post.id }}"><button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-minus"></span> Soft Delete</button></a>
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endif %}
{% endfor %}

<div class="middle">
	<ul class="pagination">
	{% for page in pagination.iter_pages() %}
	{% if page %}
		{% if page != pagination.page %}
			<li><a href="/forum/thread/{{ thread.id }}/{{ page }}">{{ page }}</a></li>
		{% else %}
			<li class="active"><a href="/forum/thread/{{ thread.id }}/{{ page }}">{{ page }}</a></li>
		{% endif %}
	{% endif %}
	{% endfor %}
	</ul>
</div>

{% if characters and not thread.locked or (thread.locked and session.access == g.admin_account_type) %}
<div class="panel panel-default">
	<div class="panel-heading">
		Reply Box
	</div>
	<div class="panel-body">
		<form method="post" action="/forum/thread/{{ thread.id }}">
			<div class="form-group">
				<label for="inputCharacter">Character</label>
				<select class="form-control" id="inputCharacter" name="character">
				{% for character in characters %}
					<option value="{{ character.id }}">{{ character.name }}</option>
				{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="inputContent">Content</label>
				<textarea name="content" id="inputContent" class="form-control" placeholder="Reply content..."></textarea>
			</div>
			<button type="submit" class="btn btn-default">Reply</button>
		</form>
	</div>
</div>
{% endif %}

{% endblock %}
