<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="pyfsw - An interactive website for the Forgotten Server.">

		<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/theme.min.css') }}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}">

		<title>pyfsw - Error #{{ error }}</title>
	</head>
	<body>
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">Error #{{ error }}</div>
				<div class="panel-body">
					{{ message }}
				</div>
			</div>
		</div>
	</body>
</html>
