{% with messages = get_flashed_messages(category_filter=['error']) %}
{% if messages %}
<div class="alert alert-danger">
	<strong>Error</strong>
	<ul>
	{% for message in messages %}
		<li>{{ message }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=['success']) %}
{% if messages %}
	<div class="alert alert-success">
	<strong>Success</strong>
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
	</div>
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=['warning']) %}
{% if messages %}
	<div class="alert alert-warning">
	<strong>Warning</strong>
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
	</div>
{% endif %}
{% endwith %}
{% with messages = get_flashed_messages(category_filter=['info']) %}
{% if messages %}
	<div class="alert alert-info">
	<strong>Info</strong>
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
	</div>
{% endif %}
{% endwith %}
