/*
	The default style.
*/

body {
	cursor: default !important;
	padding-top: 20px !important;
	font-size: 12px !important;
	font-family: 'DejaVu Sans', 'Verdana', sans-serif !important;
	background: url('/static/img/background.png') no-repeat top center #272B30;
	background-attachment: fixed;
}

a {
	font-weight: bold;
	text-decoration: none !important;
}

a:hover {
	text-decoration: underline !important;
}

.logo {
	margin-bottom: 15px;
	text-align: center;
}

.right {
	text-align: right;
}

.middle {
	text-align: center;
}

.emblem {
	max-width: 128px;
	max-height: 128px;
}

.outfit {
	top: -16px;
	text-align: right;
	position: relative;
	z-index: 100;
}

.outfit2 {
	top: -16px;
	left: -16px;
	text-align: right;
	margin-top: 16px;
	position: relative;
	z-index: 100;
}

.progress-bar-custom {
	background-color: #5E58AF;
}

.tab-content {
	margin-top: 25px;
}

/*
	Progress bars with centered text
	http://stackoverflow.com/questions/12937470/twitter-bootstrap-center-text-on-progress-bar
*/

.progress {
	position: relative;
}

.progress span {
	position: absolute;
	display: block;
	width: 100%;
}

/*
	Defined button sizes to allow an alternative to inline css.
*/

.btn-custom-tiny {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	width: 45px;
}

.btn-custom-xsmall {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	width: 55px;
}

.btn-custom-small {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	width: 65px;
}

.btn-custom-medium {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	width: 75px;
}

.btn-custom-large {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	width: 85px;
}

.btn-custom-xlarge {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	width: 95px;
}

.btn-custom-huge {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	width: 105px;
}

/*
	Change the max width of a popover so it doesn't wrap.
*/

.popover {
	max-width: 100%;
}
