{% extends "template.htm" %}
{% block title %} Invite Player {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		Invite Player
	</div>
	<div class="panel-body">
		<form method="post" action="/community/guild/{{ id }}/invite">
			<div class="form-group">
				<label for="inputName">Player Name</label>
				<input type="text" class="form-control" id="inputName" name="name" placeholder="Player name">
			</div>
			<button type="submit" class="btn btn-default">Invite</button>
			<a href="/community/guilds"><button type="button" class="btn btn-default">Return</button></a>
		</form>
	</div>
</div>

{% endblock %}
