{% set types = [
	('level', 'Level'),
	('mag', 'Magic Level'),
	('fist', 'Fist Fighting'),
	('club', 'Club Fighting'),
	('sword', 'Sword Fighting'),
	('axe', 'Axe Fighting'),
	('dist', 'Distance'),
	('shield', 'Shielding'),
	('fish', 'Fishing')
] -%}

{% extends "template.htm" %}
{% block title %} Highscores {% endblock %}
{% block body %}

<div class="row">
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				Type
			</div>
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
				{% for item in types %}
					<li{% if type == item[0] %} class="active"{% endif %}><a href="/community/highscores/{{ item[0] }}/1">{{ item[1] }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading">
				Highscores - {{ name }}
			</div>
			<div class="panel-body">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>&nbsp;</th>
							<th>Player</th>
							<th>{{ name }}</th>
						</tr>
					</thead>
					<tbody>
					{% for player in highscores %}
						<tr>
							<td>{{ loop.index + perpage * (page - 1) }}.</td>
							<td>
								<img class="outfit" src="/outfit/{{ player.looktype }}/{{ player.lookhead }}/{{ player.lookbody }}/{{ player.looklegs }}/{{ player.lookfeet }}/{{ player.lookaddons }}">
							</td>
							<td>
								<a href="/community/player/{{ player.name }}">{{ player.name }}</a>
								<br>
								<small>Level {{ player.level }}, {{ player.vocation | vocation }}</small>
							</td>
							<td>
								Level {{ player.value }}
								<br>
								<small>{{ '{:,}'.format(player.subvalue) }} {{ suffix }}</small>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<div class="middle">
					<ul class="pagination">
						{% for page in pagination.iter_pages() %}
						{% if page %}
							{% if page != pagination.page %}
								<li><a href="/community/highscores/{{ type }}/{{ page }}">{{ page }}</a></li>
							{% else %}
								<li class="active"><a href="/community/highscores/{{ type }}/{{ page }}">{{ page }}</a></li>
							{% endif %}
						{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
