{% extends "template.htm" %}
{% block title %} Online List {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		Online List
	</div>
	<div class="panel-body">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Player</th>
					<th>Level</th>
					<th>Vocation</th>
				</tr>
			</thead>
			<tbody>
			{% for player in online %}
				<tr>
					<td>
						<img class="outfit" src="/outfit/{{ player.looktype }}/{{ player.lookhead }}/{{ player.lookbody }}/{{ player.looklegs }}/{{ player.lookfeet }}/{{ player.lookaddons }}">
						&nbsp;
						<a href="/community/player/{{ player.name }}">{{ player.name }}</a>
					</td>
					<td>Level {{ player.level }} ({{ '{:,}'.format(player.experience) }} xp)</td>
					<td>{{ player.vocation | vocation }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
