{% extends "template.htm" %}
{% block title %} Search Player {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		Search Player
	</div>
	<div class="panel-body">
		<form method="post" action="/community/player">
			<div class="col-sm-10">
				<input class="form-control" type="text" name="name" placeholder="Player Name" value="">
			</div>
			<div class="col-sm-2">
				<button class="btn btn-default btm-sm btn-block" type="submit">Search</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}
