{% extends "template.htm" %}
{% block title %} Server Staff {% endblock %}
{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">
		Staff
	</div>
	<div class="panel-body">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Name</th>
					<th>Position</th>
					<th>Last Seen</th>
				</tr>
			</thead>
			<tbody>
			{% for character in staff %}
				<tr>
					<td><img class="outfit" src="/outfit/{{ character.looktype }}/{{ character.lookhead }}/{{ character.lookbody }}/{{ character.looklegs }}/{{ character.lookfeet }}/{{ character.lookaddons }}"></td>
					<td><a href="/community/player/{{ character.name }}">{{ character.name }}</a></td>
					<td>{{ character.group_id | staffrank }}</td>
					<td>{{ (character.lastlogout if character.lastlogout > character.lastlogin else character.lastlogin) | datetime }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
